*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

a {
  text-transform: none;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header  */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.navi {
  display: flex;
  align-items: center;
}

.navi-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navi-logo .navi-logo-text {
  color: #2e2f42;
}

.navi-logo:hover,
.navi-logo:focus {
  color: #404bbf;
}

.header-navi {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navi-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navi-link:hover,
.navi-link:focus {
  color: #404bbf;
}

.navi-link.studio {
  color: #404bbf;
}

.navi-link.studio::after,
.navi-link.studio::after {
  color: #404bbf;
  content: "";
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  position: absolute;
  background: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adres {
  font-style: normal;
  margin-left: auto;
}

.header-adres-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.adres-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adres-link:hover,
.adres-link:focus {
  color: #404bbf;
}

/* MAIN  */
/*   HERO  */

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  align-items: center;
  height: 600px;
  max-width: 1440px;
  padding: 188px 0;
  border: 1px solid #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  height: 120px;
  margin: auto;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  border: none;
  border-radius: 4px;
  margin: 48px auto 0;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/*  ADVANTAGES  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-advantages {
  padding: 120px 0;
}

.advantages {
  display: flex;
  align-items: center;
  gap: 24px;
  /* width: calc((100%-3 * 24) / 4);*/
}

.advantages-list {
  display: block;
  width: 264px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  border-radius: 4px;
  height: 112px;
  background: #f4f4fd;
}
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*  TEAM  */
.team {
  background-color: #f4f4fd;
  padding: 120px 0 120px;
}

.container-team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 3 * 24) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-list-person {
  padding: 32px 0;
}

.team-person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.social-icons {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 24px;
  width: 232px;
  height: 40px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 8px;
}

.icon {
  fill: #f4f4fd;
}

.icon-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus,
.icon-link:active {
  background-color: #404bbf;
  cursor: pointer;
}

/*  PORTFOLIO  */

.portfolio-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-job-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;
  column-gap: 24px;
}

.portfolio-list {
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-app {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.picture {
}

.portfolio-list:hover .overlay-p {
  transform: translateY(0%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/*   FOOTER   */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-info {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

.box-logo-p {
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  width: 115px;
  height: 24px;
  margin-bottom: 16px;
}
.footer-logo-text {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.footer-txt {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.social-icons.icons-footer {
  display: flex;
  margin: 0;
  align-items: flex-start;
  gap: 16px;
  justify-content: flex-start;
  margin-top: 16px;
}
.icon-link.down:hover,
.icon-link.down:focus,
.icon-link.down:active {
  background-color: #31d0aa;
}
